[submodule "gateway-node/multus-cni"]
	path = gateway-node/multus-cni
	url = https://github.com/k8snetworkplumbingwg/multus-cni
[submodule "cluster-config/multus-cni"]
	path = cluster-config/multus-cni
	url = https://github.com/k8snetworkplumbingwg/multus-cni
