[Unit]
Description=Restart nginx when web application has booted.
After=network.service kubelet.service dnsmasq.service

[Service]
ExecStart=/usr/local/bin/restart-nginx-dnsmasq.sh

[Install]
WantedBy=multi-user.target
