[Unit]
Description=CNI DHCP Relay Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/cleanstart-cni-dhcpd.sh 
Restart=on-failure

[Install]
WantedBy=multi-user.target